body { 
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.mySlides {
  padding-top:20px;
  text-align: center;
  height: 500px;
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
}

.mySlides .content{
  padding-left: 200px;
  padding-top: 6rem;
  width: 85rem;
}

.mySlides .content span{
  display : block;
  font-size : 3rem;
  color: white;
  text-shadow: 2px 2px #000;
}

.mySlides .content h3{
  font-size : 5rem;
  color: white;
  text-transform :uppercase;
  line-height: 1;
  text-shadow: 2px 2px #000;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  background: #000;
  color:#ccc;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  text-decoration: none;
  margin-right: 0px;
}

*{
  padding: 0;
  margin: 0;
}
  
header{
  background-color: black;
}

#navbar{
  height: 55px;
}
  
#logo{
  color:rgb(166, 0, 255);
  font-size: 30px;
}

#a{
  font-size: 20px;
  color:aliceblue;
}
  
a{
  margin-right: 150px;
}
  
#content{
  height: 700px;
}

h1{
  font-size: 19px;
}

*{
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea ,input[type=password],input[type=number],input[type=date]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-left:240px;
}

input[type=submit]:hover {
  background-color: #fa9200;
}

.clearfix button[type=submit]{
  color: rgb(4, 4, 4);
  padding: 6px;
  border-block-color: rgb(4, 4, 4);
  cursor: pointer;
  margin-left:250px;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

.contain {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  width: 700px;
  margin-left:400px;
  padding: 50px;
}

#fname{
  padding-left: 20px;
}

#lname{
  padding-left: 20px;
}

#subject{
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  position: fixed;
  left: 455px;
  margin: 115px auto;
  width: 40%; 
  opacity: 0.7;
}

.close {
  z-index: 1;
  position: absolute;
  right: 470px;
  margin-top: 110px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #3ec0e79b;
  border-radius: 10px;
}


.signup{
  width:100px ;
  font-size: 22px;
}

#menuToggle
{
  position:relative;
  top: -25px;
  left: 1450px;
  z-index: 1;
  width: fit-content;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.menuTogglesign
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -135px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(71%,0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.body{
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box { 
  border: 2px solid black;
  display: block;
  height: 200px;
  width:20%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 whitesmoke, 0 6px 20px 0 whitesmoke;
  text-align: center;
}

.Places-section{
  display:flex;
  margin-top: 3%;
  justify-content: space-evenly; 
}

.Places-section-1{
  display:flex;
  margin-top: 5%;
  justify-content: space-evenly;
}

.Places-section-2{
  display: flex;
  margin-top: 5%;
  justify-content: space-evenly;
}

.footer{
  background-position: center;
  background-attachment: fixed;
}

.Box-container{
  background: url('back.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns:320px 420px 450px auto;
}

.bottom h3{
  color: rgb(234, 0, 255);
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
}

.bottom a{
  color: rgb(165, 93, 175);
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 1rem;
  display: block;
  text-decoration: none;
}

.bottom a i{
  color: rgb(93, 3, 44);
  transition: 0.2s linear;
}

.bottom a:hover i{
  padding-right: 1rem;
}
  
footer{
  background-color: black;
  color:white;
  text-align: center;
}

.box-container{
  padding-left:5rem;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  gap: 6rem;
}

.service-box{
  padding:1rem 1rem;
  text-align: center;
  background-color: rgb(220, 125, 220);
}

.service-box img{
  height: 5rem;
}

.service-box h3{
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.button{
  padding:10px;
  padding-left:70px;
  border: 1px solid rgb(93, 3, 44);
  margin-left:650px;
  margin-right:650px;
  background-color:rgb(220, 125, 220);
}